
body{
    background-color: rgb(0,0,0);
    margin: 0;
    color: white;
}

a {
    color: rgb(128,128,255);
}

#legend {
    float: right;
}

.flexcontainer {
    display: flex;
}

.settings{
    background-color: rgb(0,0,0);	
    position: absolute;
    right:0;
    bottom:0;
    z-index : 10;
    display: none;
    max-height: 100vh;
    overflow-y: auto;
}

#settingsbutton{
    position: absolute;
    right:0;
    bottom:0;
    z-index : 11;	
    background-color: rgb(0,0,0);	
    color: red;
}

.tracker{
    background-color: rgb(0,0,0);
    position: relative;
    left: 0;
    top: 0;
    empty-cells: show;
    border-spacing: 0;
    border: 0;
}

.tracker td{
    width: 64px;
    height: 64px;
    padding: 0;
    background-repeat: no-repeat;
}

.tracker .halfcell {
    width: 32px;
    height: 64px;	
}

.itemconfig {
    border-spacing: 0;
    border: 1px solid white;	
}

* {
    box-sizing: border-box;
}

.stoops{
    width: 128px;
    height: 128px;
    background-size: 200% 200%;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

.lonk{
    width: 64px;
    height: 64px;
    border-spacing: 0;
    border: 0;
}

.corner{
    width: 32px;
    height: 32px;
    color: lightgray;
    font: 26px 'VT323', monospace;
    cursor: default;
    text-shadow: 0 0 3px black;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editcell {
    font-size: 20px;
}

.textCounter {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font: 40px 'VT323', monospace;
    cursor: default;
    color: #fdd549;
    user-select: none;
    text-shadow: -2px -2px 1px black;
}

.true{
    opacity: 1;
}

.false{
    opacity: 0.25;
}

.mini{
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.boss{
    width: 24px;
    height: 24px;

    background: no-repeat center;
    background-size: 75% 75%;

    position: absolute;
    margin-left: -12px;
    margin-top: -12px;

    z-index: 2;
}

.dungeon{
    width: 48px;
    height: 48px;
    background-size: 100% 100%;

    position: absolute;
    margin-left: -24px;
    margin-top: -24px;
}

.itemdiv{
    position: relative;
    left: 0;
}

.mapdiv{
    background-size: 100% 100%;
    background: url("/images/map.png") no-repeat;

    position: relative;
    width: 884px;
    height: 442px;
    left: 0;
}

.mapvdiv{
    background-size: cover;
    background: url("/images/mapv.png") no-repeat;

    position: relative;
    width: 438px;
    height: 888px;
    left: 0;
}

.chest{
    width: 24px;
    height: 24px;
    background-size: 100% 100%;

    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
}

.unavailable{
    background-color: rgb(255,0,0);
}

.available{
    background-color: rgb(0,255,0);
    color: rgb(0,0,0);
}

.possible{
    background-color: rgb(255,255,0);
    color: rgb(0,0,0);
}

.agahnim{
    background-color: rgb(0,255,255);
    color: rgb(0,0,0);
}

.glitchavailable{
    background-color: rgb(0,127,0);
}

.glitchpossible{
    background-color: rgb(192,192,0);
}

.glitchagahnim {
    background-color: rgb(0,160,160);
}

.opened{
    background-color: rgb(127,127,127);
}
