
<html lang="en">
    <head>
        <title>LttP Networked Item Tracker</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

        <script src="/__/firebase/4.2.0/firebase-app.js"></script>
        <script src="/__/firebase/4.2.0/firebase-auth.js"></script>
        <script src="/__/firebase/4.2.0/firebase-database.js"></script>
        <script src="/__/firebase/init.js"></script>
        <script src="/script/shared.js"></script>
        <script src="/script/items.js"></script>
        <script src="/script/chests.js"></script>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>
    
        <div id='createRoomPanel'>
            <p>Either the room is still loading or there is not a room here.</p>
            <p>Click the button below to initialize a room.</p>
            <p>Be sure to give it a passcode so you can give access to others or yourself on another machine or after a cookie reset.</p>
            <p>Room Editing Passcode: <input type="text" name="passcode" id="passcodeInput" /></p>
            <p><button type="button" name="initRoom" id="initRoomButton" onclick="createRoom()">Create Room</button></p>
        </div>

        <div id='layoutdiv'>
            <div id='itemdiv' class='itemdiv'>
                <tracker-table :item-rows="itemRows" :tracker-data="trackerData" :tracker-options="trackerOptions"></tracker-table>
            </div>
            <div id='mapdiv' class='mapdiv'>
            </div>
        </div>
        <div width='100%' id="caption" align='center'>
            &nbsp;
        </div>
        
        <!-- Setting panel-->
        
        <button id='settingsbutton' type='button' onclick='showSettings(this)'>🔧</button>
        <fieldset id='settings' class='settings'>
            <legend>Settings</legend>
            <fieldset>
                <legend>Item Tracker</legend>
                <button type="button" onclick="EditMode()">Edit Mode</button>
                <br>
                Size<input type="range" name='itemdivsize' value='100' max='200' min='1' onchange="setZoom('itemdiv', this)">
                <span id='itemdivsize'>100%</span><br>
                <fieldset>
                    <legend>Dungeon Display</legend>
                    <input type="checkbox" name="showchest" checked='true' onchange="showChest(this)">Chests
                    <input type="checkbox" name="showcrystal" checked='true' onchange="showCrystal(this)">Prizes
                    <input type="checkbox" name="showmedallion" checked='true' onchange="showMedallion(this)">Medals<br>
                    <input type="checkbox" name="showlabel" checked='true' onchange="showLabel(this)">Dungeon Labels
                </fieldset>
            </fieldset>
            <fieldset>
                <legend>Map Tracker</legend>
                <input type="checkbox" name="showmap" checked='true' onchange="showTracker('mapdiv', this)">Enabled<br>
                Size<input type="range" name='mapdivsize' value='100' max='200' min='1' onchange="setZoom('mapdiv', this)">
                <span id='mapdivsize'>100%</span><br>
                Position:
                <input type='radio' name='mapposition' value='Below' checked='true' onclick="setOrder(true)">Below
                <input type='radio' name='mapposition' value='Side' onclick="setOrder(false)">Side<br>
                Orientation:
                <input type='radio' name='maporientation' value='Horizontal' checked='true' onclick="setMapOrientation(false)">Horizontal
                <input type='radio' name='maporientation' value='Verical' onclick="setMapOrientation(true)">Vertical<br>
            </fieldset>
            <fieldset id="roomControls">
                <legend>Room Controls</legend>
                <input type="text" name="entryPasscode" id="entryPasscodeInput" />
                <button type="button" name="enterPasscode" id="enterPasscodeButton" onclick="enterPasscode()">Enter Passcode</button>
                <div id="editorControls">
                    <button type="button" name="resetRoom" id="resetRoomButton" onclick="confirmSaveConfigToFirebase()">Push Configuration</button>
                    <br><br>
                    <button type="button" name="resetRoom" id="resetRoomButton" onclick="resetFirebase()">Reset Room</button>
                    <br><br>
                    <button type="button" name="destroyRoom" id="destroyRoomButton" onclick="destroyFirebase()">Destroy Room</button>
                </div>
            </fieldset>
        </fieldset>
        
        <table id='itemconfig' class='itemconfig' style='display:none'></table>
        
        
        <footer style='bottom:0; width:100%; text-align: center; position: absolute; color:grey'>Lttp Networked Rando Tracker -
            @pickfifteen (Based on crossproduct, SRL, marcmagus)
        </footer>

        <script type="text/x-template" id="tracker-table">
            <div class="vueTrackerTable">
                <div v-for="(itemRow, itemRowIndex) in itemRows" :key="itemRowIndex">
                    <div :style="{ width: (maxRowLength - itemRow.length) * 32 + 'px', display:'inline-block' }" class="rowSpacer"></div>
                    <tracker-cell v-for="(item, itemColumnIndex) in itemRow" :itemName="item" :itemValue="itemFor(item)"
                    :column-index="itemColumnIndex" :row-index="itemRowIndex"
                    :tracker-data="trackerData" :tracker-options="trackerOptions" :key="itemColumnIndex + '-' + itemRowIndex"></tracker-cell>
                    <button v-if="trackerOptions && trackerOptions.editmode" :style="{backgroundColor: 'red', color: 'white', verticalAlign: 'top', marginTop: '20px'}">-</button>
                    <button v-if="trackerOptions && trackerOptions.editmode" :style="{backgroundColor: 'green', color: 'white', verticalAlign: 'top', marginTop: '20px'}">+</button>
                </div>
                <button v-if="trackerOptions && trackerOptions.editmode">Add row</button>
            </div>
        </script>

        <script type="text/x-template" id="tracker-cell">
            <div :style="{ height: '64px', width: '64px', display:'inline-block', backgroundImage: backgroundImage, position: 'relative' }"
             :class="isActive ? 'true' : 'false'" @click.stop="clickCell">
                <span v-if="dungeonLabel" class="corner" :style="{ display: 'block', position: 'absolute'}">{{ itemName }}</span>
                <span v-if="chestImage" @click.stop="clickChest" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', top: '32px', backgroundImage: chestImage }"></span>
                <span v-if="prizeImage" @click.stop="clickPrize" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', top: '32px', left: '32px', backgroundImage: prizeImage }"></span>
                <span v-if="medallionImage" @click.stop="clickMedallion" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', left: '32px', backgroundImage: medallionImage }"></span>
            </div>
        </script>
    </body>
    <script src="/script/main.js"></script>
    <script>
        init(initTracker);
    </script>
</html>

